.ContactEditPage {
    padding: 0px 3px;
}
.ContactEditPage img {
    height: 120px;
}

.ContactEditPage li {
    margin-bottom: 5px;
}

.ContactEditPage h2 {
    margin-bottom: 5px;
}

.ContactEditPage label {
    color: #999999;
}

.ContactEditPage input {
    font-family: inherit;
    color: var(--secondary-special-color);
    display: block;
    width: 100%;
    background: transparent;
    font-size: 22px;
    line-height: 1.2;
    padding: 0 2px;
    outline: none;
    border: none;
    height: 40px;
    overflow: visible;
    margin: 0;
    border-bottom: 2px solid #dbdbdb;
    transition: border-bottom 0.2s ease-out;
}
