.MovePreview {
  transition: background 0.2s ease-in-out;
  padding: 8px;
  border-radius: 0px 0px 5px 0px;
}

.MovePreview:not(:last-child) {
  border-bottom: 2px solid var(--main-bg-color);
}

.MovePreview:hover {
  background: rgba(255, 255, 255, 0.2);
}
